@mixin btn {
  padding: 0;
  width: 38px;
  height: 38px;
  border: none;
  background-color: transparent;
}

.cart {
  position: relative;
  margin: 0 auto;
  padding: 18px 18px 14px;
  width: 312px;
  background-color: #fff;
  border-radius: 5px;
  transform: translate(0, -50px);
  &__address {
      display: flex;
      justify-content: space-between; 
  }
  &__title {
      font-size: 14px;
      font-weight: 600;
  }
  &__button {
    @include btn;
    width: 18px;  
  }
  &__address-form {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__label {
    position: absolute;
    top: 5px;
    left: 11px;
    font-size: 12px;
    font-weight: 500;
    color: #C4C4C4;
  }
  &__address_input {
    padding-left: 11px;
    width: 87px;
    height: 48px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    &:focus {
      border-color: #FFB000;
    }
  }
}